<div class="main-container">
  <section class="bets settled">
    <div>
      <input type="file"
             bet-type="settled"
             file-upload-on-change="$ctrl.parseData">
    </div>
    <table>
      <caption>Settled Bets</caption>
      <thead>
        <tr>
          <th>Customer</th>
          <th>Event</th>
          <th>Participant</th>
          <th>Stake</th>
          <th>Win</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bet in $ctrl.bets.settled"
            ng-if="$ctrl.bets.settled.length">
          <td>{{bet.customerId}}</td>
          <td>{{bet.eventId}}</td>
          <td>{{bet.participantId}}</td>
          <td>{{bet.stake}}</td>
          <td>{{bet.win}}</td>
        </tr>
        <tr ng-if="!$ctrl.bets.settled.length">
          <td colspan="5">Upload settled bets CSV.</td>
        </tr>
      </tbody>
    </table>
    <table ng-if="$ctrl.bets.settled.length">
      <caption>Unusual Winning Rate</caption>
      <thead>
        <tr>
          <th>Customer</th>
          <th>Winning Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in $ctrl.bets.unusualWinningRates"
            ng-if="$ctrl.bets.unusualWinningRates.length">
          <td>{{data.customerId}}</td>
          <td>{{data.winningRate | percentageFilter: 2}}</td>
        </tr>
        <tr ng-if="!$ctrl.bets.unusualWinningRates.length">
          <td colspan="2">No unusual winning rates</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="bets unsettled">
    <div>
      <input type="file"
             bet-type="unsettled"
             file-upload-on-change="$ctrl.parseData">
    </div>
    <table>
      <caption>Unsettled Bets</caption>
      <thead>
        <tr>
          <th>Customer</th>
          <th>Event</th>
          <th>Participant</th>
          <th>Stake</th>
          <th>To Win</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bet in $ctrl.bets.unsettled"
            ng-if="$ctrl.bets.unsettled.length"
            ng-class="bet.isRisky ? 'risky' : ''">
          <td>{{bet.customerId}}</td>
          <td>{{bet.eventId}}</td>
          <td>{{bet.participantId}}</td>
          <td>{{bet.stake}}</td>
          <td>{{bet.toWin}}</td>
          <td class="notes">
            <ul ng-if="bet.notes.length">
              <li ng-repeat="note in bet.notes">{{note}}</li>
            </ul>
          </td>
        </tr>
        <tr ng-if="!$ctrl.bets.unsettled.length">
          <td colspan="6">Upload unsettled bets CSV.</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
